@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "SystemPages.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        @Html.Partial("Nav/AtoZ_Entries")
        @Html.Partial("Nav/AtoZ_List")
    </div>
</div>
