@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Design.cshtml";
}

<div class="row">
    <div class="col-sm-8 col-xs-12">
        @Umbraco.Field("content")
    </div>
    <div class="col-sm-4 col-xs-12">

    </div>
</div>

@Html.Partial("Nav/GatewayLinks")
