@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Design.cshtml";
}

<div class="row">
    <div class="col-xs-12 col-sm-6">

        @Umbraco.Field("Content")
    </div>
    <div class="col-xs-12 col-sm-6">
        @Html.Partial("Page/Map")

        @Html.Partial("Page/ListContactDetails")
    </div>
</div>