body {
    font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
    line-height: 1.6em;
}

h1, h2, h3, h4, h5, h6, .navbar-brand {
    font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}

.btn, btn-lg, .alert, .navbar,
.nav-pills > li > a, .form-control {
    border-radius: 0;
}

.aub__page-content .alert {
    display: block;
}