<div ng-controller="ucCommentsController"
     class="aub-comments-editor">

    <table class="table aub-table-striped">

        <thead>
            <tr>
                <th>Author</th>
                <th width="60%">Comment</th>
                <th>Submitted On</th>
                <th style="min-width: 70px;"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="comment in comments" class="aub-comment-row">
                <td>
                    {{getProperty(comment, "Name")}}<br />
                    <a href="{{getProperty(comment, "Email")}}">{{getProperty(comment, "Email")}}</a>
                </td>
                <td>
                    {{getProperty(comment, "Comment")}}
                    <div class="aub-comments-tools">
                        <a ng-show="comment.Status != status.Approved" ng-click="approve($event, comment.Key)" href>
                            Approve
                        </a>
                        <a ng-show="comment.Status == status.Approved" ng-click="unapprove($event, comment.Key)" href>
                            Unapprove
                        </a> |
                        <a ng-click="spam($event, comment.Key)" href>
                            Spam
                        </a> |
                        <a ng-click="trash($event, comment.Key)" href>
                            Delete
                        </a>
                    </div>
                </td>
                <td>{{comment.CreatedDate | date: "yyyy/MM/dd 'at' H:mm"}}</td>
            </tr>
        </tbody>
    </table>

</div>