.aub-row {
    display: flex;
    flex-wrap: wrap;
}

.aub-half {
    padding: 10px;
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    flex-basis: 50%;
    max-width: 50%;
}

.aub-feature {
    padding: 10px;
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;

    flex-basis: 50%;
    max-width: 50%;
}

.aub-nuget-cmd {
    background-color: black;
    color: white;
    width: auto;
    display: inline-block;
    font-size: 110%;
    padding: 1em;
}

.aub-installed {
    background-color: aliceblue;
    color: #aaa
}

.aub-disabled {
    background-color: #f9eaea;
    color: #aaa;
}

.aub-disabled .umb-healthcheck-title{
    font-weight:normal;
}