<?xml version="1.0" encoding="utf-8" ?>
<UserContentSettings 
  serviceType="Aubergine.UserContent.Services.UserContentService,Aubergine.UserContent",
  respositoryType="Aubergine.UserContent.Persistance.UserContentRepository,Aubergine.UserContent",
  cacheType="Aubergine.UserContent.Cache.UserContentCacheRefresher,Aubergine.UserContent"
  AutoContext="true" />